#app{
    border:2px solid black;
    height:700px;
    width:95%;
    margin:auto;    
}

#menu{
    height:50px;
    width:100%;
    margin-top:0px;
    background-color:#EFF;
}

#dates{
    height:50px;
    width:100%;
    margin-top:0px;
    background-color:#FEF;
}

#kalendar{
    height:600px;
    width:100%;
    margin-top:0px;
    background-color:#FFD;
}

.button{
    float:left;
    border:1px solid black;
    margin:3px;
    padding:3px;
}