#header{
    width:95%;
    font-size: 46px; 
    line-height: 50px; 
    margin-bottom: 14px;
    text-align:center;
}

#app{
    border:2px solid black;
    height:700px;
    width:95%;
    margin:auto;    
}

#menu{
    height:50px;
    width:100%;
    margin-top:0px;
    background-color:#EFF;
}

#dates{
    height:50px;
    width:100%;
    margin-top:0px;
    background-color:#FEF;
}

#calendar{
    height:600px;
    width:100%;
    margin-top:0px;
    background-color:#FFD;
}

#newBack{
    bottom:0;
    left:0;
    right:0;
    top:0;
    position:fixed;
    background-color:rgba(0, 0, 0, 0.3);
    z-index:1;
}

#newB{
    background-color:white;
    border:3px solid black;
    left:40%;
    padding:15px;
    position:fixed;
    top:40%;
    opacity:1;
    z-index:10;
}

.button{
    float:left;
    width:10%;
    height:50px;
    line-height:50px;
    text-align:center;
}

.toFromDates{
    float:left;
    width:40%;
    height:50px;
    line-height:50px;
    text-align:center;
}

.column{
    width:14%;
    height:100%;
    float:left;
    border:1px solid black;
}

.row{
    height:9%;
    width:100%;
    border-bottom:1px dotted black;
}

.seventhWidth{
    float:left;
    width:14%;
    height:50px;
    line-height:50px;
    text-align:center;
    
}

