a{
    display:block;
    width:100%;
    height:100%;
    text-decoration:none;
    color:#333;
}

input{
    width:200px;
    display:block;
    border:1px solid black;
    margin:3px 0 5px 0;
    box-shadow:0px 0px 8px rgba(0, 0, 0, 0.2);
}

#menu a:hover{
    font-size:20px;
    transition:all 0.5s ease 0s;
}

.appointed:hover{
    transform:scale(1.05,1.05);
    background-color:#8EE;
    transition:all 0.3s ease-in;
}


#header{
    width:95%;
    font-size: 46px; 
    line-height: 50px; 
    margin-bottom: 14px;
    margin-top: 20px;
    text-align:center;
    min-width:700px;
}

#loginContainer{
    border:2px solid black;
    width:200px;
    margin:100px auto 0 auto;
    padding:14px;
}

#app{
    border:2px solid black;
    width:95%;
    min-width:700px;
    margin:auto;    
}

#messages{

}

#menu{
    border-bottom:2px solid black;
    height:50px;
    width:100%;
    margin-top:0px;
    background-color:#EFF;
}

#dates{
    border-bottom:2px solid black;
    height:50px;
    width:100%;
    margin-top:0px;
    background-color:#FEF;
}

#calendar{
    height:600px;
    width:100%;
    margin-top:0px;
    background-color:#FFD;
}

#newBack{
    bottom:0;
    left:0;
    right:0;
    top:0;
    position:fixed;
    background-color:rgba(0, 0, 0, 0.3);
    z-index:1;
}

#newB{
    background-color:white;
    border:3px solid black;
    left:40%;
    padding:15px;
    position:fixed;
    top:40%;
    opacity:1;
    z-index:10;
}

#bookingList{
    background-color:white;
    border:3px solid black;
    margin:100px auto;
    width:300px;
    height:650px;
    padding:15px;
    top:15%;
    opacity:1;
    z-index:10;
}

.listDiv{
    margin:5px;
    height:50px;
}

.button{
    float:left;
    width:10%;
    height:50px;
    line-height:50px;
    text-align:center;
}

.toFromDates{
    float:left;
    width:40%;
    height:50px;
    line-height:50px;
    text-align:center;
}

.column, .row, .timeCol, .timeRow{
    box-sizing: border-box;
}

.column, .timeCol{
    border:0.1px solid black;
    height:600px;
    float:left;
}

.row, .timeRow{
    height:60px;
    width:100%;    
    border-bottom:0.5px dotted black;
    border-top:0.5px dotted black;
        
    overflow:hidden;
    
}

.column{
    width:13%;
}

.row{
    line-height:13.5px;
    font-size:13.5px;
}

.timeCol{
    width:9%;
    background-color:#AAF;

}

.timeRow{
    font-size:20px;
    line-height:60px;
    text-align:center;
}

.timeDate{
    float:left;
    width:9%;
    height:50px;
    line-height:50px;
    text-align:center;
}


.seventhWidth{
    float:left;
    width:13%;
    height:50px;
    line-height:50px;
    text-align:center;
    
}

.appointed{
    background-color:#AFF;
    border-radius:10px;
    border:none;
    padding:3px;    
}



.messageClose{
    background-color:black;
    width:10px;
    height:10px;
    display:inline-block;
    margin-top:3px;
    margin:3px 0 0 3px;
}



.okMessage{ 
    padding:3px;
    background-color:#5d5;
}

.badMessage{ 
    padding:3px;
    background-color:#F33;
}

.todayMarking{
    background-color:#DAD;
}

.invLabel{
    color:red;
}



